<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>成功页面</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery-2.2.0.min.js}"></script>
</head>
<body>
    <div th:class="container">
        <h2>spring-boot upload-status</h2>
        <div th:if="${message}">
            <h3 th:text="${message}"></h3>
        </div>
    </div>
</body>
</html>